{% extends "base.html" %}

{% block title %}
    Сила Самогипноза.
{% endblock %}


{% block content %}
    <h1>Блоги психологов.</h1>
    <h2>Самые актуальные и интригующие темы ожидают здесь вас!</h2>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Техника самогипноза_1
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Первое упражнение называется «Хорошее место». Вам надо устроиться поудобнее, закрыть глаза и представить приятный уголок природы, такое место, которое вы любите, в ваше любимое время года. Дайте себе время как-то рассмотреть, почувствовать это место, какие-то его детали, то, что там есть, то, что находится рядом с вами и то, что подальше. Вдохните воздух этого места. Пройдитесь по нему в своем воображении.

                    Прогуляйтесь или просто постойте, осмотритесь, затем поставьте там воображаемое удобное кресло, усядьтесь в него и представьте, что вы просто отдыхаете какое-то время. Дайте себе возможность напитаться целебной атмосферой этого места. Дождитесь момента, когда вы действительно ощутите, что отдохнули….

                    Когда вы почувствуете, что восстановили свои силы, можно медленно, с удовольствием подвигаться, пошевелиться, глубоко вдохнуть, потянуться и открыть глаза, возвращаясь из своего внутреннего мира во внешний мир, отдохнувшим и набравшимся сил. По продолжительности упражнение «хорошее место» может длиться от 5 минут и дольше. Важно делать его, находясь в уединении. На выбор в тишине или под релаксирующую музыку.

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Техника самогипноза_2.
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Еще одно замечательное медитативное упражнение «Водоросли». Встаньте, поднимите руки вверх, расслабьтесь, и немного согните все суставы: коленные, тазобедренные. Закройте глаза. Представьте в своем воображении, что вы находитесь на дне моря, что вы – водоросль. Вода вас поддерживает, она как-то движется и движет ваше тело, ваши руки: плавно и очень медленно.

                    Это очень медленные движения и зависания. Все происходит естественным образом. Это могут быть самые разные движения.  Вы, как водоросль, двигаетесь вместе с водой и вода промывает, очищает все тело. Позвольте себе двигаться в этом медленном, плавном ритме три (пять, семь) минут, пока не почувствуете, что достаточно.
                </div>
            </div>
        </div>
         <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Результат использования техник самогипноза.
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Если вы будете каждый день делать хотя бы одно из этих упражнений по 5-7 минут, то уже через несколько дней вы сможете заметить реальный результат в виде гармонизации душевного состояния, уменьшения стресса.

                    А через пять - десять лет ваше здоровье будет разительным образом в лучшую сторону отличаться от здоровья ваших среднестатистических сверстников.

                    С помощью самогипноза можно влиять не только на состояние здоровья, но и на свою судьбу.
                </div>
            </div>
        </div>
    </div>
{% endblock %}